In [71]:
import pandas as pd
import seaborn as sns
import numpy as np
from numpy import genfromtxt
from collections import Counter
import glob
from sklearn.externals import joblib

In [33]:
data = pd.read_csv('bbdc_2019_Bewegungsdaten/train.csv')

In [34]:
data.shape

(6401, 3)

In [35]:
data.head()

     Subject                             Datafile                    Label
0  Subject02  Subject02/Subject02_Aufnahme000.csv          curve-left-step
1  Subject02  Subject02/Subject02_Aufnahme001.csv          curve-left-step
2  Subject02  Subject02/Subject02_Aufnahme002.csv             stand-to-sit
3  Subject02  Subject02/Subject02_Aufnahme003.csv  curve-right-spin-Rfirst
4  Subject02  Subject02/Subject02_Aufnahme004.csv             jump-one-leg

In [36]:
subjects = data['Subject'].unique()

In [6]:
subjects

array(['Subject02', 'Subject03', 'Subject04', 'Subject05', 'Subject06',
       'Subject07', 'Subject08', 'Subject09', 'Subject11', 'Subject12',
       'Subject13', 'Subject16', 'Subject17', 'Subject18', 'Subject19'],
      dtype=object)

In [37]:
valid_subs = np.random.choice(subjects, 3, replace=False)

In [38]:
data['Label'].unique()

array(['curve-left-step', 'stand-to-sit', 'curve-right-spin-Rfirst',
       'jump-one-leg', 'lateral-shuffle-right', 'curve-right-spin-Lfirst',
       'v-cut-right-Lfirst', 'stair-down', 'v-cut-left-Rfirst',
       'v-cut-right-Rfirst', 'jump-two-leg', 'sit', 'stair-up',
       'curve-right-step', 'sit-to-stand', 'run', 'v-cut-left-Lfirst',
       'stand', 'curve-left-spin-Lfirst', 'walk',
       'curve-left-spin-Rfirst', 'lateral-shuffle-left', 'lay'],
      dtype=object)

In [39]:
data['Label'].nunique()

23

In [40]:
Counter(data['Label'])

Counter({'curve-left-step': 299,
         'stand-to-sit': 289,
         'curve-right-spin-Rfirst': 300,
         'jump-one-leg': 279,
         'lateral-shuffle-right': 277,
         'curve-right-spin-Lfirst': 301,
         'v-cut-right-Lfirst': 300,
         'stair-down': 278,
         'v-cut-left-Rfirst': 280,
         'v-cut-right-Rfirst': 280,
         'jump-two-leg': 280,
         'sit': 289,
         'stair-up': 278,
         'curve-right-step': 295,
         'sit-to-stand': 289,
         'run': 300,
         'v-cut-left-Lfirst': 300,
         'stand': 289,
         'curve-left-spin-Lfirst': 280,
         'walk': 300,
         'curve-left-spin-Rfirst': 320,
         'lateral-shuffle-left': 282,
         'lay': 16})

In [41]:
timeseries = pd.read_csv('bbdc_2019_Bewegungsdaten/Subject02/Subject02_Aufnahme000.csv', header=None)

In [42]:
timeseries.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,32688,32224,32991,32609,32790,33048,37168,34610,27374,29068,29264,28408,31784,28133,29295,29244,33216,37140,34736
1,32744,32571,32935,32279,32863,33048,37168,34610,27374,29068,29264,28408,31784,28133,29295,29244,33216,37140,34736
2,32788,32934,32767,32624,32899,33048,37168,34610,27374,29068,29264,28408,31784,28133,29295,29244,33216,37140,34736
3,32828,33202,32587,32377,32783,33048,37168,34610,27374,29068,29264,28408,31784,28133,29295,29244,33216,37140,34736
4,32870,33269,32423,32954,32719,33048,37168,34610,27374,29068,29264,28408,31784,28133,29295,29244,33216,37140,34736

In [43]:
timeseries.shape

(6159, 19)

In [44]:
def file2mat(filename: str) -> np.ndarray:
    mat = genfromtxt(filename, delimiter=',')
    return mat

In [45]:
mat = file2mat('bbdc_2019_Bewegungsdaten/Subject02/Subject02_Aufnahme000.csv')

In [46]:
data_dir = 'bbdc_2019_Bewegungsdaten/'

In [47]:
mat[99, 7]

34640.0

In [48]:
data_new = data[data['Label'] != 'lay'].copy()

In [49]:
data_new.shape

(6385, 3)

In [50]:
data.shape

(6401, 3)

In [51]:
train = data_new[(data_new['Subject'] != valid_subs[0]) &
                 (data_new['Subject'] != valid_subs[1]) &
                 (data_new['Subject'] != valid_subs[2])].sample(frac=1.0)

In [52]:
data_new.drop(train.index, inplace=True, axis=0)

In [53]:
valid = data_new.sample(frac=1.0)

In [54]:
train.shape

(5258, 3)

In [55]:
valid.shape

(1127, 3)

In [56]:
train.to_csv('splits/train.csv', index=False)

In [57]:
valid.to_csv('splits/valid.csv', index=False)

In [58]:
data_new.shape

(1127, 3)

In [59]:
train.shape

(5258, 3)

In [60]:
train.index

Int64Index([ 143, 3289, 5250, 4404, 5316, 5456, 4782, 4485, 3146, 2052,
            ...
              15, 4054,  750, 4778,  816,  714,   95, 5411,  785, 2910],
           dtype='int64', length=5258)

In [61]:
data_new.index

Int64Index([3518, 3519, 3520, 3521, 3522, 3523, 3524, 3525, 3526, 3527,
            ...
            6391, 6392, 6393, 6394, 6395, 6396, 6397, 6398, 6399, 6400],
           dtype='int64', length=1127)

In [64]:
data = pd.concat((pd.read_csv('bbdc_2019_Bewegungsdaten/train.csv'),
                 pd.read_csv('bbdc_2019_Bewegungsdaten/challenge.csv')))

In [65]:
data.shape

(8139, 3)

In [67]:
subj_stats = {}
for subj in data['Subject'].unique():
    dir_name = f'bbdc_2019_Bewegungsdaten/{subj}/*'
    files = glob.glob(dir_name)
    vals = []
    for file in files:
        vals.append(file2mat(file))
    vals = np.concatenate(vals, axis=0)
    stats = {'min': vals.min(axis=0),
     'avg': vals.mean(axis=0),
     'max': vals.max(axis=0),
     'std': vals.std(axis=0)}
    subj_stats[subj] = stats

In [68]:
subj_stats['Subject01']

{'min': array([0.0000e+00, 1.7616e+04, 1.1000e+01, 1.3645e+04, 7.0000e+00,
        1.0320e+04, 8.6230e+03, 2.3060e+04, 2.9318e+04, 1.4432e+04,
        1.4202e+04, 1.2332e+04, 1.5050e+04, 1.0100e+02, 9.6000e+01,
        9.5000e+01, 9.4000e+01, 9.3000e+01, 9.3000e+01]),
 'avg': array([32772.12759781, 32757.96376791, 32760.14420526, 33105.4872536 ,
        32792.39403033, 33140.04334161, 33299.6337323 , 37155.35330977,
        33148.49351969, 33101.66971557, 36363.6150113 , 35888.32879515,
        25108.33287763, 28951.78536686, 29226.90043699, 29328.55623981,
        29224.56960644, 29282.09444038, 29598.14529842]),
 'max': array([65535., 58745., 65528., 51101., 65535., 52432., 54456., 56281.,
        35624., 55992., 56480., 55822., 29540., 62528., 65488., 65492.,
        65472., 65480., 65476.]),
 'std': array([ 2145.39023493,  1063.79262005,   490.64313095,   990.27628538,
         3113.88637156,  1451.17673379,  2616.01783923,  2009.86493117,
          988.858926  ,  1771.59943114,  2171.74876617,  2058.00442744,
         3485.22685706,  4435.79278507,  9327.53143381,  8828.3413926 ,
         8047.52716895, 12217.84562261,  9789.94782326])}

In [69]:
subj_stats['Subject10']

{'min': array([8.0840e+03, 1.4227e+04, 1.5017e+04, 6.5270e+03, 7.0000e+00,
        8.5310e+03, 1.9034e+04, 8.7400e+03, 2.6752e+04, 1.0360e+04,
        2.0627e+04, 1.3600e+04, 1.9064e+04, 9.9000e+01, 9.4000e+01,
        9.3000e+01, 6.1000e+01, 5.8000e+01, 5.9000e+01]),
 'avg': array([32764.61652994, 33031.28795267, 32782.25656161, 32804.51585036,
        32799.43223207, 33077.95929007, 37157.00777233, 32719.68668851,
        33570.33578834, 32767.56515956, 37148.61868702, 34602.19389914,
        26829.65317997, 28932.60195386, 29309.50255515, 29281.76529064,
        29093.03643097, 29733.69307176, 29511.71639667]),
 'max': array([56647., 57840., 57448., 54536., 65535., 53796., 56464., 55040.,
        35651., 56416., 56512., 56344., 31792., 65488., 65498., 65504.,
        65428., 65437., 65436.]),
 'std': array([  899.23345191,   651.8390046 ,   710.53600343,  1097.93336636,
         2454.4698971 ,  1803.80441284,  2160.70922151,  2559.45191853,
         1418.02870762,  1711.19116438,  1816.48662058,  2085.10821412,
         2552.995258  ,  4557.45304807,  9067.28564459, 11956.73471592,
         6039.98701928, 11521.67138042, 10815.64861513])}

In [70]:
subj_stats['Subject18']

{'min': array([4.0000e+00, 4.0000e+00, 6.0000e+00, 3.0000e+00, 0.0000e+00,
        1.4636e+04, 1.1344e+04, 8.6000e+03, 2.9989e+04, 8.5820e+03,
        9.0600e+03, 1.1066e+04, 1.8116e+04, 9.6000e+01, 9.3000e+01,
        9.4000e+01, 6.2000e+01, 6.0000e+01, 6.0000e+01]),
 'avg': array([32763.23370427, 32820.39769712, 32781.8416445 , 32763.14119068,
        32822.94534821, 33344.18013253, 37090.5904119 , 34345.87770971,
        31798.79142012, 32519.17316671, 36408.38934702, 35857.39206065,
        27887.65798328, 29734.54651438, 29002.08703403, 29260.79840425,
        29261.77545826, 29289.69950016, 29443.8847104 ]),
 'max': array([65532., 65535., 65509., 65535., 65535., 55324., 56452., 56440.,
        35052., 56048., 56488., 56464., 32252., 65492., 65502., 65496.,
        65436., 65436., 65432.]),
 'std': array([ 2048.93195245,  2624.78153377,  1412.09748761,  2253.4474243 ,
         3235.8818336 ,  1599.87456917,  2183.53149682,  2805.52882188,
          960.1798721 ,  1587.38884823,  2258.68153416,  2215.62781559,
         3204.68609533,  4953.89872132, 12398.83274175,  9063.85338245,
         7358.70958822,  9869.50028762, 11129.91074215])}

In [72]:
joblib.dump(subj_stats, 'subj_stats.pkl')

['subj_stats.pkl']